.container {
  display: flex;
  align-items: center;
  gap: 1.75rem;
}

.container a {
  font-size: 1.25rem;
  font-weight: 600;
  transition-duration: .2s;
}

.container a:first-child {
  color: #60c657!important;
}

.container a:hover {
  color: #35a2e2;
}