.container {
  display: grid;
  grid-template-columns: 236px 236px;
  grid-template-rows: 236px 236px;
  gap: 40px;
}

.imageContainer {
  max-width: 236px;
}

.imageContainer img {
  border-radius: 20px;
}

@media (max-width: 1279px) {
  .container {
    padding: 0;
    text-align: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    margin-top: 4rem;
  }
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: 134px 134px;
    grid-template-rows: 134px 134px;
    gap: 16px;
  }

  .imageContainer {
    max-width: 134px;
  }

  .imageContainer img {
    border-radius: 8px;
  }
}
