.container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.container p {
  font-size: 1.25rem;
  line-height: 2rem;
}

@media (max-width: 767px) {
  .container p {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}