.title {
  font-size: 3rem;
  background: linear-gradient(340deg, #60c657 30%, #35a2e2 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title.main {
  font-size: 8.5rem;
}