.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.colored {
  color: #60c657;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
